html,
body,
#root {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 100%;

  font-family:
    Inter,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}

html {
  background: #080812;
}

body {
  min-height: 100vh;
}